@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'btn.css';
/*
@font-face {
  font-family: 'La Belle Aurore';
  font-weight: 400;
  src: url(../fonts/LaBelleAurore-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'La Belle Aurore';
  font-weight: 500;
  src: url(../fonts/LaBelleAurore-Regular.ttf) format('ttf');
}
*/
.menu li {
  @apply h-16;

  @apply border-b-2;
  @apply border-gray-800;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply first:border-t-2;
}
.menu a {
  @apply text-colorMenu;
}

.social li {
  @apply cursor-pointer;
  @apply w-4;
  @apply justify-center;
  @apply mx-1;
}
.social ul {
  @apply items-center;
}
a {
  @apply transition duration-500  hover:text-colorHover;
}
.tags {
  @apply font-belle;
  @apply italic;
  @apply text-tagsHtml;
  @apply text-2xl;
  @apply absolute;
}
.tags::after {
  content: '<body>';
  @apply font-belle;
  @apply text-tagsHtml;
  @apply absolute;
  @apply text-2xl;
}
.tagInitial {
  @apply top-5;
  @apply bottom-auto;
}
.bottomTags {
  @apply top-auto;
  @apply bottom-8;
}
.bottomTags::after {
  content: '</html>';
}
.titleTags::before {
  content: '<h1>';
  @apply font-belle;
  @apply text-tagsHtml;
  @apply absolute;
  @apply text-2xl;
  margin-top: -3rem;
}
.titleTags::after {
  content: '</h1>';
  @apply font-belle;
  @apply text-tagsHtml;
  @apply absolute;
  @apply text-2xl;

  margin-top: 0.8rem;
  margin-left: 20rem;
}
.homeTitle {
  @apply font-lora;
  @apply text-white;

  @apply text-5xl;
  @apply flex;
  @apply flex-wrap;
  @apply sm:text-7xl;
  @apply justify-start;
  @apply mr-4;
  @apply lg:text-8xl;
}

.homeTitle .blast {
  @apply hover:animate-wiggle;
  @apply transition duration-500  hover:text-colorHover;
}
.phraseGrey:first-of-type:before {
  content: '<p>';
  @apply font-belle;
  @apply text-tagsHtml;
  @apply absolute;

  margin-top: -1.5rem;
}
.phraseGrey:first-of-type:after {
  content: '</p>';
  @apply font-belle;
  @apply text-tagsHtml;
  @apply absolute;
  margin-top: 1.7rem;
  left: 1rem;
}
.scrollDown span {
  writing-mode: vertical-rl;
}
.scrollDownLeft {
  @apply lg:left-36;
  @apply right-auto;
}
