@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'btn.css';
@import 'progressbar.css';
/*
@font-face {
  font-family: 'La Belle Aurore';
  font-weight: 400;
  src: url(../fonts/LaBelleAurore-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'La Belle Aurore';
  font-weight: 500;
  src: url(../fonts/LaBelleAurore-Regular.ttf) format('ttf');
}
*/
@layer base {
  p {
    @apply text-white;
    @apply pt-8;
    letter-spacing: -0.003em;
    line-height: 1.625;
    --baseline-multiplier: 0.179;
    --x-height-multiplier: 0.35;
  }
  h2 {
    @apply my-3;
  }
  body {
    @apply bg-bgColor;
  }
  h1 {
    @apply font-lora;
    @apply lg:text-5xl;
    @apply text-5xl;
    @apply text-white;
    @apply py-3;
  }
  ul {
    @apply text-white;
  }
  h4 {
    @apply text-2xl;
    @apply leading-6;
    @apply text-colorHover;
  }
}
.questions p {
  padding: 8px 0px 0.75rem !important;
}

.menu li {
  @apply h-16;

  @apply border-b-2;
  @apply border-gray-800;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply first:border-t-2;
}
a {
  @apply transition duration-500  hover:text-colorHover;
}

a {
  @apply text-colorMenu;
  @apply transition duration-500  hover:text-colorHover;
}

.social li {
  @apply cursor-pointer;
  @apply w-4;
  @apply justify-center;
  @apply mx-1;
}
.social ul {
  @apply items-center;
}

.contain .contactme p {
  @apply text-white;
  @apply py-0;
}
.contain .contactme p::after {
  content: '';
}
.contain .contactme p::after {
  content: '';
}
.contain .contactme p::before {
  content: '';
}
.contain h2::before {
  content: '<h2>';
  @apply font-belle;
  @apply text-tagsHtml;
  @apply absolute;
  @apply text-lg;
  margin-top: -2rem;
}
.contain h2::after {
  content: '</h2>';
  @apply font-belle;
  @apply text-tagsHtml;
  @apply absolute;
  @apply text-lg;
  margin-top: 3rem;
}
.contain .text-zone p:first-of-type:before {
  content: '<p>';
  @apply font-belle;
  @apply text-tagsHtml;
  @apply absolute;
  @apply text-lg;
  margin-top: -2rem;
}
.contain .text-zone p:last-of-type:after {
  content: '</p>';
  @apply font-belle;
  @apply text-tagsHtml;
  @apply absolute;
  @apply text-2xl;
  margin-top: 1rem;
}
.tags {
  @apply font-belle;
  @apply italic;
  @apply text-tagsHtml;
  @apply text-2xl;
  @apply absolute;
}
.tagInitial::after {
  content: '<body>';
  @apply font-belle;

  @apply left-3;
}
.tagInitial {
  @apply top-5;
  @apply bottom-auto;
}

.bottomTags {
  @apply bottom-3;

  @apply absolute;
}
.bottomTags::before {
  content: '</body>';
  @apply ml-8;
}
.titleTags::before {
  content: '<h1>';
  @apply font-belle;
  @apply text-tagsHtml;
  @apply absolute;
  @apply text-lg;
  margin-top: -1rem;
}
.titleTags::after {
  content: '</h1>';
  @apply font-belle;
  @apply text-tagsHtml;
  @apply absolute;
  @apply text-lg;
  @apply text-lg;
  @apply lg:ml-titleHome;
  margin-top: 0.8rem;
}

.phraseGrey:first-of-type:before {
  content: '<p>';
  @apply font-belle;
  @apply text-tagsHtml;
  @apply absolute;
  @apply text-lg;
  margin-top: -1.5rem;
}
.phraseGrey:first-of-type:after {
  content: '</p>';
  @apply font-belle;
  @apply text-tagsHtml;
  @apply absolute;
  margin-top: 1.7rem;
  @apply text-lg;
}
.scrollDown {
  @apply flex;
  @apply justify-center;
  @apply items-center;
}
.scrollDown span {
  writing-mode: vertical-rl;
}
.scrollDownLeft {
  position: absolute;
  bottom: 2rem;
  display: flex;
  right: auto;
  left: '10px';
}
.scrollDown svg {
  margin-top: 10px;
  width: 10px;
}
.homeTitle .text {
  padding-bottom: 20px;
}
.homeTitle {
  @apply font-lora;
  @apply text-white;

  @apply text-5xl;
  @apply overflow-hidden;
  @apply sm:lg:w-titleHome;

  @apply sm:text-7xl;
  @apply justify-start;
  @apply mr-4;
  @apply lg:text-7xl;
  white-space: nowrap;
  overflow: hidden;
}
.homeTitle .text:nth-child(1) {
  @apply animate-typewriter;
  @apply w-max;
  @apply overflow-hidden;
  @apply flex;
  @apply opacity-0;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}
.section {
  @apply py-24;
}
.homeTitle .text:nth-child(2) {
  @apply animate-typewriter;
  @apply w-max;
  @apply overflow-hidden;
  @apply flex;
  @apply opacity-0;
  animation-fill-mode: forwards;

  animation-delay: 2s;
}

.homeTitle .text:nth-child(3) {
  @apply animate-typewriter2;
  @apply w-max;
  @apply overflow-hidden;
  @apply flex;
  @apply opacity-0;
  animation-fill-mode: forwards;
  animation-delay: 4s;
}
.homeTitle .blast {
  @apply hover:animate-jello;
  @apply transition duration-500  hover:text-colorHover;
  @apply inline;
}
.subtitle {
  @apply animate-typewriter;
  @apply flex;
  @apply opacity-0;
  @apply font-lora;
  @apply text-3xl;
  @apply lg:text-5xl;
  @apply sm:text-5xl;
  @apply xl:text-5xl;

  @apply text-colorHover;
  @apply overflow-hidden;
  @apply w-max;
  @apply py-3;
}
.subtitle .blast {
  @apply hover:animate-jello;
  @apply transition duration-500  hover:text-colorHover;
}

.invisible,
.visible {
  transition: visibility 0.8s linear, opacity 0.8s linear;
  will-change: opacity;
  opacity: 0;
}
.visible {
  opacity: 1;
}
/*ABOUT*/
.content {
  @apply lg:w-content40;
}
.content-timeline {
  @apply w-full;
  @apply lg:w-content60;
  @apply pb-20;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-disc ul {
  list-style: revert;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.list-disc li {
  @apply py-1;
}
.title::before {
  content: '<h1>';
  @apply font-belle;
  @apply text-tagsHtml;
  @apply absolute;
  @apply text-lg;
  margin-top: -2rem;
}
.title::after {
  content: '</h1>';
  @apply font-belle;
  @apply text-tagsHtml;
  @apply absolute;
  @apply text-lg;
  @apply mt-3;
  @apply text-lg;
  @apply lg:ml-6;
  margin-top: 2.8rem;
  @apply right-1;
  @apply lg:right-auto;
}
.title {
  @apply py-3;
  @apply my-3;
}

/*Progress bar*/
.container-pro {
  @apply lg:min-w-progressbar;
  @apply w-full;
  @apply lg:w-auto;
}
.portfolio {
  @apply relative;
  @apply p-3;
}
.bar {
  @apply block;
  @apply relative;
  @apply h-6;
  @apply bg-white;
  @apply w-full;
  @apply z-10;
  @apply text-gray-400;
}

.bar h3 {
  @apply text-center;
  @apply text-xs;
  @apply uppercase;
  @apply justify-center;
  @apply flex;
  @apply w-full;
  @apply h-full;
  @apply items-center;
  @apply font-bold;
}
.bar i,
.bar i:before,
.bar i:after {
  @apply absolute;
  @apply z-30;
  top: 0.4rem;
  @apply left-2;
  background-color: #ff5f57;

  height: 12px;
  width: 12px;
  @apply rounded-md;
}
.bar i:before {
  content: ' ';
  left: 16px;
  background-color: #ffbd2e;
  top: 0;
}
.bar i:after {
  content: ' ';
  left: 32px;
  background-color: #28ca41;
  top: 0;
}
.mainPortoflio:before {
  @apply absolute;

  @apply w-full;
  @apply h-full;
  content: '';
  z-index: 20;
}
.mainPortoflio {
  @apply bg-white;
  @apply shadow-md;
  @apply z-0;
  @apply p-1;
}
